@import "tailwindcss";



/* Define the keyframes for the slow spin */
@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
    /* Start at no rotation */
  }

  100% {
    transform: rotate(360deg);
    /* Complete one full rotation */
  }
}

/* Apply the animation to an element */
.my-spinning-element {
  animation: slow-spin 10s linear infinite;
  /* Adjust '10s' for desired speed */
}

@layer utilities {
  .lg\:hexagonal {
    @media (min-width: 1024px) {
      clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
      );
    }
  }

  .lg\:hex-left {
    @media (min-width: 1024px) {
      clip-path: polygon(
        15% 0%,
        100% 0%,
        100% 100%,
        15% 100%,
        25% 50%
      );
    }
  }
}



@layer utilities {
  @keyframes shine {
    0% {
      width: 0%;
      height: 0%;
      opacity: 0.3;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    100% {
      width: 250%;
      height: 250%;
      opacity: 0;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .shine-once {
    animation: shine 0.6s linear forwards;
  }
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotateY(180deg) translateX(0);
  }
  50% {
    transform: rotateY(180deg) translateX(10px);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}
@layer components {
  .sidebar {
    @apply w-52 py-2 px-5 hover:bg-gray-200 rounded-lg hover:text-[#010535] font-semibold
  }
  .formInput {
    @apply w-full py-2 px-3 bg-transparent text-white outline-none border-[1px] border-white rounded-xl
  }
}